@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;800&family=Titillium+Web:wght@200;300;400;600;900&display=swap');

/*
font-family: 'Arima Madurai', cursive;
font-family: 'Titillium Web', sans-serif;
*/
* {
    box-sizing: border-box;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

#calendar_wrapper {
    max-width: 400px;
    background: rgba(191, 209, 173, 0.212);
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.288);
    margin: 0px auto;

    #app_title {
        text-align: center;
        padding: 10px;
        font-weight: 600;
        letter-spacing: 0.1em;
    }

    #header_wrapper {
        display: flex;
        background-color: rgba(75, 78, 87, 0.109);
        align-items: center;
        justify-content: space-between;

        #date_display {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 300;
        }

        div {
            padding: 20px;
        }

        .navigation {
            cursor: pointer;
        }

        .navigation:hover {
            background-color: rgba(75, 78, 87, 0.109);
        }
    }

    #weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        div {
            padding: 10px;
            text-align: center;
            border-radius: 2px;
            cursor: default;
        }
    }
    #calendar_grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        div {
            padding: 10px;
            text-align: center;
            border-radius: 2px;
            cursor: pointer;
            margin: 1px;
            transition: background-color 0.2 ease;
        }
        div:hover:not(.today):not(.padding_days) {
            background-color: rgba(130, 209, 183, 0.781);
        }
        .padding_days {
            opacity: 0.5;
        }
    }
    /** dynamic class injected by js on the day**/
    .today {
        background-color: rgba(75, 78, 87, 0.109);
        box-shadow: 2px 2px 2px rgb(201, 180, 180);
    }
    
    .selected {
        background-color: rgb(130, 209, 183);
        box-shadow: 2px 2px 2px rgb(201, 180, 180);
    }
}

