#calendar_wrapper{
	width: -moz-fit-content;
	width:fit-content;
	background:yellow;
}

#calendar_wrapper #header_wrapper{
	display:flex;
	justify-content: space-between;
	padding: 15px;
}
#calendar_wrapper #header_wrapper .navigation{
	cursor: pointer;
}

#calendar_wrapper #weekdays{
	display:flex;
	justify-content: space-around;
	align-items:center;
}
#calendar_wrapper #weekdays div{
	padding:10px;
}

#calendar_wrapper #calendar_grid{
	display:grid;
	grid-template-columns: repeat(7, 1fr);
}

#calendar_wrapper #calendar_grid div {
	padding: 10px;
	text-align:center;
	border-radius: 2px;
}

/** dynamic class injected by js on the day**/
.today{
	background-color: rgba(0, 55, 255, 0.109);
}